<div class="contact-container flexed">
    <h>Events and Practices</h>
    <div>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;src=Y3V0cmFwYW5kc2tlZXRAZ21haWwuY29t&amp;color=%237986CB&amp;showTz=0&amp;showTabs=0&amp;showPrint=0&amp;showTitle=0&amp;showDate=1" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    <br>
    <p><b>Note: </b>Due to COVID-19 and the lockdown, there are currently no events being held. <b>Practices are still on!</b></p>
</div>

<div style="height: 50px">
</div>
