<div class="faq-div">
    <div class="main-page-wrapper faq-size">
        <h1>Frequently Asked Questions</h1>
    </div>

    <div class="main-page-wrapper variable-size">
        <h1 class="question">How can I join the team?</h1>
        <div>
            <p class="answer">
                If you have, or are working on getting your <a href="https://www.rcmp-grc.gc.ca/en/firearms/licensing">PAL</a> (Possession and Acquisition Licence)
                the team would love to take you out to the range.
                You'll get the chance to try a game of skeet, even if you don't have the equipment necessary!
                The best way to get in contact with the team is through any of the socials below or
                by using the <a href="/contact">contact form</a>.
                We are an inclusive club, <b>no matter the skill level</b>, we want you!
                
                Also, consider joining the <a href="https://discord.com/invite/cEBxARNDrY">CFA discord</a>!
            </p>
        </div>
    </div>

    <div class="main-page-wrapper variable-size">
        <h1 class="question">What are events like?</h1>
        <div>
            <p class="answer">
                We normally hold events at <a href="https://www.sffgc.ca/">Smiths Falls Fish and Game Club</a>.
                This allows for us to have fun breaking clays and trying out Trap and 5-Stand.
                This is the perfect time for people who have never shot before, and those who've shot their whole life.
            </p>
        </div>
    </div>

    <div class="main-page-wrapper variable-size">
        <h1 class="question">When is your next event?</h1>
        <div>
            <p class="answer">
                See our <a href="/events">events page</a>.
            </p>
        </div>
    </div>

    <div class="main-page-wrapper variable-size">
        <h1 class="question">Do I need a gun/license to attend an event?</h1>
        <div>
            <p class="answer">
                Not at all! We provide the guns and supervision, you provide the smiles.
            </p>
        </div>
    </div>

    <div class="main-page-wrapper variable-size">
        <h1 class="question">What gear do I need?</h1>
        <div>
            <p class="answer">
                If you are only planning on attending an event, you probably only need to bring some water, food, money,
                and a smile!
                Eye and ear protection are always mandatory when operating a firearm, and so typically we can provide
                the ear protection,
                but it will be on you to bring some eye protection (like sunglasses).
                <br><br>
                If you're interested in joining the team, you're going to, at the very least need your <a href="https://www.rcmp-grc.gc.ca/en/firearms/licensing">PAL</a>.
                Teammates can provide a shotgun if needed, but it is always recommended to buy your own.
                You'll also want a belt and a <a href="https://www.cabelas.ca/product/96085/allen-eliminator-single-box-shell-carrier">shotshell carrier</a> (most of the team uses one of these).
            </p>
        </div>
    </div>

    <div class="main-page-wrapper variable-size">
        <h1 class="question">What am I looking for in a shotgun?</h1>
        <div>
            <p class="answer">
                <b>Gauge:</b> 12 or 20ga
                <br>
                <b>Action:</b> Over-under or semi-automatic
                <br>
                <b>Chokes (ideal to less so):</b> Skeet, Improved Cylinder, Cylinder, Modified
                <br>
                <b>Barrel length:</b> > 26" minimum (28-32" is ideal)
                <br>
                <b>Recommendations ($-$$$):</b> Remington 1100, SKB O/U, Miroku O/U, Browning/Beretta Semi (A300s etc), Browning Citori/Beretta Silver Pigeon
                <br>
                We always recommend that you <b>try before you buy!</b>
                <br>
                <b>Where to buy:</b> Buying used can save you a lot of money. Check out <a href="https://www.canadiangunnutz.com/">CGN</a> and <a href="https://www.gunpost.ca/">GunPost</a>.
                <br>
                Buying new? Buy local! Check out <b>GunCo</b>, Stittsville Range, and Sports Action.
                <br>
            </p>
        </div>
    </div>

    <div class="main-page-wrapper variable-size">
        <h1 class="question">Where do you guys practice?</h1>
        <div>
            <p class="answer">
                We practice at the <a href="https://stittsvilleshootingranges.com/">Stittsville Shooting Ranges</a>.
            </p>
        </div>
    </div>

    <div class="main-page-wrapper variable-size">
        <h1 class="question">When do you guys practice?</h1>
        <div>
            <p class="answer">
                You can see our <a href="events">events</a> page to see our event & practice schedule.
                We typically practice every Sunday from around 3:30pm to 4:50pm.
            </p>
            <br>
        </div>
    </div>
</div>
