<div class="main-page-wrapper" id="slideshow-1">
    <img class="slides" src="https://i.imgur.com/SR5c0W1.jpg">
    <img class="slides" src="https://i.imgur.com/63TmYbX.jpg">
    <img class="slides" src="https://i.imgur.com/uQjjhRb.jpg">
    <img class="slides" src="https://i.imgur.com/L2wpVdG.jpg">
    <img class="slides" src="https://i.imgur.com/iGlFiEQ.jpg">
    <img class="slides" src="https://i.imgur.com/CZbxhxp.jpg">
    <img class="slides" src="https://i.imgur.com/HdZODtJ.jpg">
    <img class="slides" src="https://i.imgur.com/pYOdxn4.jpg">
    <img class="slides" src="https://i.imgur.com/yXc8Rai.jpg">
    <img class="slides" src="https://i.imgur.com/YvgMwIr.jpg">
</div>

<div class="main-page-wrapper">
    <h>Who We Are</h><br><br>

    <div>
        <p>
            We are the one and only Carleton University Trap and Skeet team! We also go by the title "CU Shotgun".
            We plan on becoming a varsity team (or at least applying to be one) once the pandemic is over.
            For now, we are just a group of students who enjoy going out and shooting clays on the skeet field.
            We have a coach who comes by most practices so that we can continue to improve our game.
            Some of us have competed, and for some of us, it is our first year in the shooting sports.
            There is no experience level required to join us so please <a href="/contact">contact us!</a>
        </p>
    </div>
</div>

<div class="main-page-wrapper">
    <h>Our Founder</h><br><br>

    <div id="container">
        <div id="container__image">
            <a href="https://canadafirstammo.ca/"><img id="CFAC" width="400px" height="400px" src="/imgs/CFAC.png"></a>
        </div>
        <div id="container__text">
            <p><b>Dave Fahlman</b> - </p>
            <blockquote>
                "I graduated from Carleton in 2017 with a piece of paper and a degree, but possibly the most important part of my education was reviving the Carleton Trap and Skeet Team. While I loved going out every weekend to blast clays with my newfound teammates, the firearms education side soon became my passion through the Canadian University Shooting Federation (CUSF).<br><br>
                Cutting my teeth in the industry by building the CUSF with a team of dedicated volunteers, we were able to grow the number of clubs from 4 to 22 in three short years. The time spent in the volunteer side of things gave me the contacts and passion to start another supporting venture: Canada First Ammo Corp.
                <br><br>
                <a href="https://canadafirstammo.ca/">Canada First Ammo Corp. (CFAC)</a> is an ammunition and firearm retailer, set to put Canadian made products first and offer the lowest possible prices. Everyone knows the cost to get started is one of the barring factors stopping young Canadians (students especially) from entering into the sport, CFAC looks to combat that by offering great value to new and experienced shooters alike."
            </blockquote>
        </div>
    </div>
</div>

<div class="main-page-wrapper">
    <h>Who Keeps Us Operational</h><br><br>
    <img class="sponsors" src=https://i1.wp.com/cusf.ca/wp-content/uploads/2019/04/Facebook-Page-Cover_2.gif?fit=1980%2C753&ssl=1">
</div>

<div class="main-page-wrapper">
    <img class="sponsors" src="https://upload.wikimedia.org/wikipedia/commons/8/88/CUSA_Logo.svg" style="background-color: #919191">
</div>

<div class="main-page-wrapper">
    <img class="sponsors" src="https://i.imgur.com/i3xFDYm.png">
</div>

<script src="/script.js"></script>
