/*
    Extra
 */

#empty-space {
    height: 185px;
}

/*
    Navigation Bar
 */
#navbar-background {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/52/Skeet._William_H._Keever%2C_USA.JPEG");
    <!-- TSGT Rick Sforza, U.S. Air Force, Public domain, via Wikimedia Commons -->

    height: auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transform: scaleX(-1);

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}


#navbar {
    background-color: #bee3db;
    border: 0.2rem solid #555b6e;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    margin: 0;

    opacity: 0.8;
    height: auto;

    transform: scaleX(-1);
}

#title {
    grid-column: 1;
    font-size: 35px;
    font-weight: bolder;
    color: #5a7574;
    float: left;
    text-align: left;
    margin: 20px;
}

#title a {
    text-decoration: none;
    color: inherit;
}

#titleBottom {
    font-size: 46px;
}

#nav-spacer {
    grid-column: 2;
    width: 60%;
}

#navList {
    grid-column: 3;
    list-style-type: none;
    text-align: right;
    margin: 20px;
    font-size: 22px;
}

#navList a {
    text-decoration: inherit;
    color: inherit;
}

#navList li {
    color: #5a7574;
    margin-top: 5px;
    margin-bottom: 5px;
}

#navList li:hover {
    text-decoration: underline;
    color: #5a7574;
    font-weight: bolder;
}

.active {
    font-weight: bolder;
    text-decoration: underline;
    color: #415454;
}

/*
    Background
 */

#backdrop {
    background-color: #f5fffa;
    margin: 0;
    overflow-y: scroll;
    font-family: "Open Sans", serif;
}

#text-container {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/*
    Table
 */

table {
    border-collapse: collapse;
    width: 90%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td {
    height: 30px;
}

td:nth-child(odd) {
    background-color: #ececec;
}

td:nth-child(even) {
    background-color: #ffffff;
}

thead tr th {
    font-weight: bolder;
    background-color: #9d9d9d;
}

thead tr td {
    font-weight: bold;
    background-color: #cfcfcf !important;
}

tbody:nth-child(4) tr:nth-child(6) td {
    height:10px;
    background-color: #d6d6d6 !important;
}

tbody:nth-last-child(1) tr:nth-child(8) td {
    height:10px;
    background-color: #d6d6d6 !important;
}

td:nth-child(1) {
    width: 15%;
}

td:nth-child(2) {
    width: 5%;
    text-align: center;
}

td:nth-child(2) input {
    width: 90%;
}

td:nth-child(3) {
    width: 5%;
    text-align: center;
}

td:nth-child(4) {
    width: 40%;
}

td:nth-child(4) input {
    width: 99%;
}

td:nth-child(5) {
    width: 5%;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 0.1rem solid black;
    margin-bottom: 10%;
}

/*
    Slideshow
 */

#slideshow-1 {
    position: relative;
    height: 700px;
}

.slides {
    border: 0.1rem solid #555b6e;
    border-radius: 5px;
    height: auto;
    width: 900px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*
    Main Page
 */

.main-page-wrapper {
    height: auto;
    text-align: center;
    padding: 10px;
}

.main-page-wrapper div {
    display: inline-block;
    font-size: 25px;
    width: 85%;
}

.main {
    font-size: 25px;
}

.main-page-wrapper:nth-child(even){
    background-color: rgba(164, 164, 164, 0.1);
}

.main-page-wrapper h {
    font-family: Serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 20px;
    text-decoration: underline;
    text-align: center;
}

.sponsors {
    height: auto;
    width: 80%;
    margin: 10px auto;
}

#CFAC {
    mix-blend-mode: multiply;
}

#container {
    display: inline-block;
    font-size: 25px;
    width: 85%;
}

#container__image {
    width: auto;
    margin: 30px 30px 30px 30px;
    float: right;
}

#container__text {
    display: inline;
    text-align: left;
}
/*
    Contact Us
 */

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px auto;
    border: 0.1rem solid #333743;

    width: 55%;
}

.contact-container h {
    font-weight: bolder;
    font-size: 25px;
}

/*
    Footer
 */

#footer {
    background-color: #2d3d47;
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}

.fab {
    padding: 15px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30%;
    color: black;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

/*
    Events
 */

.flexed {
    text-align: center;
    position: relative;
    width: 60%;
}

.flexed div{
    text-align: center;
}

/*
    FAQ
 */


.fa:hover {
    opacity: 0.7;
}

.question {
    color: #5a7574;
    margin: 0;
    padding: 0;
}

.variable-size {
    height: auto;
}

.faq-size {
    height: auto;
    line-height: 100px;
    text-decoration: underline;
}

.error-message {
    border: 0.05rem solid black;
    text-align: center;
    width: auto;
    display: block;
    border-radius: 5px;
}

.good {
    background-color: #b3ddb3;
}

.bad {
    background-color: #e9c3c3;
}

/*
    Media
*/

@media screen and (max-width: 2560px) {

}

/* 1920x1080 */
@media screen and (max-width: 1920px) {

}

/* 1080x1080 */
@media screen and (max-width: 1080px) {
    #title {
        font-size: 25px;
    }

    #titleBottom {
        font-size: 36px;
    }

    #navList {
        font-size: 12px;
    }

    #empty-space {
        height: 130px;
    }

    #nav-spacer {
        width: 30%;
    }

    .slides {
        width: 70%;
    }

    #slideshow-1 {
        height: 550px;
    }

    .main-page-wrapper div {
        font-size: 20px;
    }

    #CFAC {
        width: 300px;
        height: auto;
    }

}

/* Phone */
@media screen and (max-width: 780px) {
    #title {
        font-size: 10px;
    }

    #titleBottom {
        font-size: 16px;
    }

    #navList {
        font-size: 6px;
    }

    #empty-space {
        height: 100px;
    }

    #slideshow-1 {
        position: relative;
        height: 400px;
    }

    .main-page-wrapper div {
        font-size: 15px;
    }

    #CFAC {
        width: 200px;
        height: auto;
    }

}